@model BensWedding.Models.RsvpViewModel

@{ 
    var day = Model.Attendings.SingleOrDefault(x => x.Description == "Day");
    var htmlAttributes = new { @class = "form-control attendingDropdown", @data_dayId = day.Id};    
}

<h2>Rsvp</h2>

@using (Html.BeginForm("SaveRsvp", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Name", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SelectedAttendingId, "Attending", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SelectedAttendingId, new SelectList(Model.Attendings, "Id", "Description"), "- Please Select -", htmlAttributes)
            @Html.ValidationMessageFor(model => model.SelectedAttendingId)
        </div>
    </div>
    
    <div class="form-group menuOptions">
        @Html.LabelFor(model => model.SelectedMenuOptionId, "Menu Option", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SelectedMenuOptionId, new SelectList(Model.MenuOptions, "Id", "Description"), "- Please Select -", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SelectedMenuOptionId)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.DietaryRequirements, "Dietary Requirements", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DietaryRequirements, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DietaryRequirements)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IsCamping, "Are you Camping?", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.IsCamping)
                    @Html.ValidationMessageFor(model => model.IsCamping)
                </label>
            </div>           
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<div class="rsvp-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Attending</th>
                <th>Menu Option</th>
                <th>Dietary Requirements</th>
                <th>Camping?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rsvp in Model.Rsvps)
            {
                <tr>
                    <td>@Html.ActionLink("Edit", "Rsvp", "Home", new { id = rsvp.Id }, null)</td>
                    <td>@rsvp.Name</td>
                    <td>@rsvp.Attending</td>
                    <td>@rsvp.MenuOption</td>
                    <td>@rsvp.DietaryRequirements</td>
                    <td>
                        @if (rsvp.IsCamping)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}